.main{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background: rgba(0, 0, 0, 0.5);
}

.context{
    padding: 25px;
    background: white;
    border-radius: 15px;
    width: 40%;
    height: 50%;
}

.active{
    display: flex;
    justify-content: center;
    align-items: center;
}